/* Body css for changing the font and background color */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; 
}

#header1 {
    text-align: center;
    color: #333;
}

/* Make input elements block-level */
input[data-input], input[data-display] {
    display: block; 
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 16px;
}

/* Make button block-level */
button[data-calc] {
    display: block; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button[data-calc]:hover {
    background-color: #2980b9;
}

span[data-display] {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* This is the code to make the screen responsive */
@media screen and (min-width: 600px) {
    input[data-input] {
        width: 50%;
    }
}